<%- include('../partials/header') %>

<main class="main" id="editSuccessMain">
    <div class="container">
        <p class="text-center text-uppercase">record was successfully changed! Back to <a href="/">home</a>.</p>
    </div>
</main>

<%- include('../partials/footer') %>