<%- include('../partials/header') %>

<main class="main" id="editPasswordMain">
    <div class="container">
        <form action="http://localhost:3000/api/user/update/<%= userId %>" method="post" class="passwordForm" id="passwordForm">
            <div class="container">
                <div class="row mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="password" id="newPassword" required>
                </div>
                <div class="row mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-submit btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<%- include('../partials/footer') %>